body{
	margin: 0;
}

p{
	margin: 0;
}

a{
	text-decoration: none;
}

h3{
	margin: 0;
}

.clearFloat{
	clear: both;
}

.search{
	float: right;
	line-height: 40px;
	padding-right: 30px;
}

.search>a{
	color: white;
}

#banner{
	background-color: rgb(72, 82, 94);
	height: 40px;
}

#left{
	width: 40px;
	height: 40px;
	margin-left: 70px;
	background-color: rgb(204, 0, 0);
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	font-size: 28px;
	font-family: 微软雅黑;
	float: left;
}

#right{
	float: left;
	color: white;
	line-height: 40px;
	padding-left: 10px;
	font-size: 25px;
}

.navigatorBar{
	float: right;
	line-height: 40px;
	padding-right: 15px;
}

.navigatorBar>a{
	color: #fff;
	font-family: Microsoft yahei;
	font-size: 16px;
}

.navigatorBar>a>i{
	font-size: 15px;
}

#content_container{
	background-color: rgb(207, 229, 243);
	width: 100%;
	position: relative;
	padding-bottom: 40px;
}

.content_head_background{
	width: 100%;
	height: 300px;
	background: url("../picture/myBlog.jpg");
	background-size: 100% 300px;
}

.content_left{
	width: 270px;
	margin: 0 10px 0 25px;
	position: relative;
	float: left;
	margin-top: -220px;
}

.content_left_top{
	background-color: white;
}

.personalMess, .listByCategory, .listByTime, .achievement_label, .myFootprint{
	background-color: rgb(245, 245, 245);
	font-size: 14px;
	height: 30px;
	font-family: Microsoft yahei;
	line-height: 30px;
	padding-left: 10px;
}

.messageDetails{
	text-align: center;
	color: #6c6c6c;
	font-family: Microsoft yahei;
	font-size: 16px;
	letter-spacing: 2px;
	padding-bottom: 40px;
}

.messageDetails>img{
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 30px auto 20px auto;
}

.focusHim{
	display: block;
	width: 70px;
	height: 30px;
	background-color: rgb(153, 153, 153);
	margin: 15px auto auto auto;
	font-size: 14px;
	color: white;
	line-height: 30px;
}

.focusHim>i{
	margin-right: -5px;
}

i.userDefined{
	font-size: 15px;
}

.content_left_middle{
	background-color: white;
	margin-top: 15px;
	padding-bottom: 12px;
}

dl>dd{
	margin-left: 25px;
	line-height: 30px;
	font-family: Microsoft yahei;
}

dl>dd>a{
	color: #6c6c6c;
}

dd>a>span{
	display: inline-block;
	position: absolute;
	left: 55px;
}

.navigator>i{
	font-size: 15px;
}

.content_left_bottom{
	background-color: white;
	margin-top: 15px;
	padding-bottom: 12px;
}

.content_left_achievement{
	background-color: white;
	margin-top: 15px;
	padding-bottom: 12px;
}

.content_left_footprint{
	background-color: white;
	margin-top: 15px;
	padding-bottom: 12px;
}

.content_right{
	float: left;
	margin: -220px auto 0 5px;
	background-color: #fff;
	width: 960px;
}

.blog_title{
	height: 90px;
	font-family: Microsoft yahei;
	padding-left: 30px;
	letter-spacing: 1px;
	border-bottom: 1px solid rgb(237, 237, 237);
}

.blog_title>a>i{
	font-size: 30px;
	position: relative;
	top: 5px;
	color: #07c10c;
}

.blog_title>a>span{
	line-height: 70px;
	color: #000;
}

.blog_category{
	height: 50px;
	border-bottom: 1px solid rgb(237, 237, 237);
	font-family: Microsoft yahei;
	padding-left: 30px;
	line-height: 50px;
	font-size: 15px;
	color: #6c6c6c;
}

.blog_category>i{
	font-size: 15px;
}

.blog_category>span{
	color: rgb(204, 0, 0);
}

.blog_content{
	padding: 20px 30px 30px 30px;
	font-family: Microsoft yahei;
	color: #6c6c6c;
	line-height: 24px;
	border-bottom: 20px solid rgb(237, 237, 237);
}

.blog_comments{
	font-family: Microsoft yahei;
	color: #6c6c6c;
}

.blog_comments_head{
	border-bottom: 1px solid rgb(237, 237, 237);
	padding: 20px 30px 0 30px;
	height: 30px;
}

.blog_comments_head i{
	color: #33a5ba;
	position: relative;
	top: 2px;
}

.blog_comments_body{
	padding: 0 30px 0 30px;
}

.comment{
	border-bottom: 1px solid rgb(237, 237, 237);
	padding: 20px 0 10px 0;
	position: relative;
	font-size: 14px;
}

.commentPers_message{
	width: 80px;
	height: 80px;
	text-align: center;
	float: left;
}

.commentPers_message>a{
	color: #33a5ba;
}

.commentPers_message>img{
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	left: 50%;
	margin-left: -20px;
	border-radius: 50%;
}

.comment_content{
	position: absolute;
	left: 80px;
	width: 700px;
	padding-left: 10px;
	line-height: 24px;
	letter-spacing: 1px;
}

.comment_time{
	float: right;
	padding-right: 10px
}

.myAchievement>dl{
	color: #6c6c6c;
	font-family: Microsoft yahei;
	font-size: 16px;
}

.myAchievement i{
	font-size: 15px;
}

a.navigator:hover{
	color: rgb(204, 0, 0);
}

.blogNone{
	padding-bottom: 40px;
	padding-top: 40px;
	font-size: 25px;
	font-family: Microsoft yahei;
	text-align: center;
	color: #33a5ba;
}