doctype html
html
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='../icon/icons/favicon.ico')
    title MyBlog登录
    link(rel='stylesheet', type='text/css', href='../css/login_css.css')
    link(rel='stylesheet', type='text/css', href='../icon/icons/iconfont.css')
  body
    .container
      .pictureAd
        img(src='../picture/login_picture.jpg', height='500')
      .loginBox(data='#{errorcode}')
        form(action='loginCheck', method='get')
          span 账号登录
          input.textbox(type='text', name='username', value='输入用户账号')
          br
          input.textbox(type='text', name='password', value='输入密码')
          br
          input.loginOption(type='checkbox', name='loginOption')
          label 下次自动登录
          a(href='') 忘记密码?
          br
          input.login_button(type='submit', name='login', value='登录')
        .tipsRegister
          span 还没有MyBlog账号?
          a(href='/register') 立即注册
      .clearFloat
    script(type='text/javascript', src='/javascript/login_js.js')
